name: Docker Action Workflow
on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.PAT }}
      - run: docker pull ghcr.io/austenstone/action-docker:sha-c2a395aeaa432ad387a23374c8c3da3f083161de
        if: always()
      - uses: ./

